<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>built-in directives review</title>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-sanitize.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="myController">
<ul>
    <li ng-repeat="name in names">
        {{name}}
    </li>
</ul>
<br/>
<ul ng-repeat="name in names">{{name}}</ul>
<br/>
<ul ng-repeat="symbol in symbols">
    <li ng-bind-html="symbol | myFilter"></li>
</ul>
<br/>
<ul>
    <li ng-repeat="num in nums track by $index">{{num}}</li>
</ul>
<br/>
<ul>
    <li ng-repeat="key in obj">{{key}}</li>
</ul>
</body>
</html>