<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>angular review intro to events</title>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-controller="MyController">
<h3>the number is: {{number}}</h3>
<button ng-click="pickRandomNumber()">pick random number pls</button>
<br/>
<br/>
<input type="text" ng-model="word" placeholder="type a word pls"/>
<br/>
<input type="submit" ng-click="reverseWord()" value="reverse"/>
<h4>{{reversedWord}}</h4>
<br/>
<h3>the div was entered {{enterCount}} times</h3>
<div class="divbox" ng-mouseenter="enterCount = enterCount + 1"></div>
</body>
</html>